<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cjnote.ae4teamapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".RedirectedActivity">
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>

                <!-- <category android:name="android.intent.category.ALTERNATIVE" /> -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="firebase.google.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingActivity"
            android:label="설정"/>

        <activity
            android:name=".UserProfileActivity"
            android:label="내 프로필"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".ChangePhoneNumberActivity"
            android:label="휴대폰 번호 변경"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ContactInfoActivity"
            android:label="연락처 정보" />

        <activity
            android:name=".AddProductActivity"
            android:label="상품 등록하기" />

        <activity
            android:name=".MyProductActivity"
            android:label="내 상품" />

        <activity
            android:name=".PurchaseHistoryActivity"
            android:label="구매 내역" />

        <activity
            android:name=".SalesHistoryActivity"
            android:label="판매 내역" />

        <activity
            android:name=".ShowPostActivity"
            android:label="상품 보기" />

        <activity
            android:name=".ShowDetailImageActivity"
            android:label="이미지 상세보기" />

        <activity android:name=".DibsListActivity"
            android:label="찜 목록" />
    </application>

</manifest>